html {
  background-color: rgb(44, 44, 44);
}

.inner_box {
  background-color: rgb(255, 255, 255);
  padding: 5%;
  margin: 5%;
}

.header {
  display: grid;
  grid-template-columns: 1fr 2fr;
}

#nav_bar {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  list-style: none;
  align-self: first baseline;
}
/* 
#nav_bar ul {
} */
